body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
.brand
  display: inline-block
  font-size: 26px
  line-height: 70px

.brand .green
  color: #94c13c
.brand .bold
  font-weight: normal
  color: #DDD
.logo
  margin-top: -12px

.circle
  width: 15px
  height: 15px
  -moz-border-radius: 50%
  -webkit-border-radius: 50%
  border-radius: 50%
  background: #ddd
  display: inline-block
  margin: 20px

#circles .active-circle
  background: #94c13c

.question
  color: #3ca7ba
  font-family: "Roboto Slab"
  font-size: 36px
  line-height: 40px
  font-weight: 300

.hidden
  display: none

.visible
  display: block

#answers
  margin-top: 20px

.answer
  overflow: hidden

.answer .columns
  display: inline-block
  float: none !important
  width: auto

#clock
  text-align: center
  color: #94c13c
  font-size: 30px
  line-height: 30px

#clock img
  display: inline-block
  height: 30px

#timer
  display: inline-block
  margin-left: 5px