body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
.brand
  display: inline-block
  font-size: 26px
  line-height: 70px

.brand .green
  color: #94c13c
.brand .bold
  font-weight: normal
  color: #DDD
.logo
  margin-top: -12px

.circle
  width: 15px
  height: 15px
  -moz-border-radius: 50%
  -webkit-border-radius: 50%
  border-radius: 50%
  background: #4679BD