doctype !html 5
head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Health Equity Labs
    link(rel='stylesheet', href='stylesheets/foundation.css')
    link(rel='stylesheet', href='stylesheets/style.css')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700')

    script(src='javascripts/modernizr.js')
  body
    header
      .row
        .large-12.columns
          img(src='images/logo.png' class='logo')
          div.brand
            span.green Health
            span.bold Equity
            span.green Labs
    script(src='javascripts/jquery.js')
    script(src='javascripts/foundation.min.js')
    script(src='javascripts/quiz.js')
    script
      $(document).foundation();
      $.fn.quiz();
block content